tc:
  - name: "eguard_egress_test_project"
    address: "192.168.1.1/24"
    protocol: TCP # ALL/TCP/UDP
    ports:        # empty means all ports. 32(single port like 80), 16(range like 8079-8080)
      - 80
      - 8079-8080
    action: DENY  # DENY/LOG
    level: INFO

  - name: "test_tcp_redirect"
    #address: ""
    protocol: TCP   # TCP
    #ports:         # empty means all ports.
    #  - 80
    #  - 8079-8080
    processname: "1.exe|2.exe"    # empty means all process.
    redirectip: "192.168.188.188" # redirect to ipaddrss
    redirectport: "88"            # redirect to port
    action: REDIRECT
    level: INFO
dns:
  - name: "eguard_egress_test_dns"
    action: DENY
    domain: "grpc.hades.store"
  - name: "eguard_egress_test_dns_1"
    action: DENY
    domain: "*.baidu.com"